$font-base: Compromis, Helvetica, Arial, sans-serif;
$font-headers: Oswald, Helvetica, Arial, sans-serif;
$background-color: #0c151f;
$text-color: #fff;
$text-color-dark: #222;
$basic-orange: #ea580c;
$orange-start: #e28333;
$orange-end: #d4432f;
$secondary-color: #dd473e;
$campaign-color: #f3d718;
$white: #fff;
$mobile-breakpoint: 769px;
$top-nav-height: 50px;
$overlay: rgba(12, 21, 31, 0.85);
$overlay-start:  rgba(12, 21, 31, 0);